/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  background-color: #fafafa;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
