:host {

  position: relative;
  margin: 2rem;

  display: flex;
  align-items: center;
  flex-flow: column;

  md-card.box {
    width: 100%;

    &#input p {
      width: 100%;
      display: flex;
      align-items: center;

      > md-input-container {
        font-size: 1rem;
        width: 100%;
        margin-right: 2rem;
      }

      > md-select {
        margin-bottom: 8px; // right now, so it lines up
        > md-option {

        }
      }

    }

    &#output {
      margin-top: 2rem;

      div#icon {
        background-size: contain;
        border-radius: 0;
        background-position: center;
      }

      md-card-content > div {
        display: flex;
        flex-flow: column;
        > div {
          width: 100%;
          > span.label {
            width: 100%;
            padding: 0.1em;
          }
          > p.item {

            margin-left: 3rem;

            &.queries {
              > a {
                text-decoration: none;
                padding: 0.5em;
              }
            }

            &.stats {
              md-chip {

                > span:last-child {
                  margin-left: 0.5em;
                  font-family: 'Roboto Mono', monospace;
                  font-size: 1em;
                }
              }
            }

            &.list {

            }

            &.text {
              line-height: 2em;
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}
