<md-card>
  <md-card-header class='color-primary'>
    <div id='icon' md-card-avatar [style.backgroundImage]='getIconStyle() | safeStyle'></div>
    <md-card-title>
      {{data.name}}
    </md-card-title>
    <md-card-subtitle>
      {{data.dataType}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>

    <div *ngIf='exists(data.classes)'>
      <span class='label'>Useable Classes</span>
      <p class='item queries'>
        <button md-button color='accent' *ngFor='let class of data.classes' (click)='search(class, "class")'>{{class}}</button>
      </p>
    </div>

    <div *ngIf='exists(data.description)'>
      <span class='label'>Description</span>
      <p class='item text'>{{data.description}}</p>
    </div>

  </md-card-content>
</md-card>
